@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    body {
      @apply bg-black text-white container mx-auto px-4 font-fredoka;
    }

    h1 {
      @apply text-4xl font-bold;
    }

    svg {
      @apply fill-white;
    }

    input {
      @apply text-black;
    }

    #app {
      @apply flex flex-col min-h-screen justify-evenly;
    }

    .select-choice {
      @apply flex justify-evenly bg-zinc-800 rounded-full text-zinc-600 w-11/12 mx-auto p-2 text-center items-center;
    }

    .select-choice button {
      @apply w-1/2 font-extrabold;
    }

    .select-choice .active {
      @apply bg-lime-300 rounded-full text-black p-1 duration-500;
    }

    path {
      @apply duration-200;
    }

    .hauteur-28 {
      height: 28.5rem;
    }

    .btn-lime {
      @apply bg-lime-300 font-extrabold text-black rounded-full text-gray-600 p-2 w-full;
    }

    input:checked {
      @apply bg-lime-300;
    }
}

html {
  scroll-behavior: smooth;
}

/* npx tailwindcss -i ./dev.css -o ./style.css --watch */